{% extends 'gestion.html' %}
{% load compta_extras %}

{% block content %}
    <div class="container mt-2">
      <div class="row justify-content-center">
        <div class="col-sm-6 p-3 col-12">
          <h2>Fiches pour un nom</h2>
          {% comment %} le formulaire de parametrage de l'affichage{% endcomment %}
          <form class="row mt-3" method="post" action=".">
            {% csrf_token %}
            <div class="col-sm-4 p-1">
              <input type="text" class="form-control" name="phone" id="phoneInput" placeholder="Téléphone">
            </div>
            <div class="col-sm-3 col-6 p-1 text-center">
              <input type="submit" class="btn  btn-primary" value="Chercher">
            </div>
            <div class="col-sm-3 col-6 p-1 text-center">
              <a href="{% url 'synthese' %}" class="btn btn-primary" title="Retour à la synthèse"><i class="fa-solid fa-house"></i></a>
            </div>  
          </form>
    
          {% comment %}Le tableau des operations non pointées{% endcomment%}
          <div class="container mt-5">
            <h3>{{ phone }}</h3>
            <div class="row text-center fw-bold">
              <div class="col-sm-2 col-6">Ticket</div>
              <div class="col-sm-1 col-6">Coût</div>
              <div class="col-sm-3 col-6">Dépôt</div>
              <div class="col-sm-3 col-6">Retrait</div>
              <div class="col-sm-3 col-6">Nom</div>
          </div>
          </div>
          <div class="container list-group list-group-flush">
            {% for row in rows %}
            <a href="{% url 'recette-detail' row.id %}" class="list-group-item list-group-item-action">
              <div class="row text-center">
                <div class="col-sm-2 col-6">{{row.carnet}}-{{row.numero}}</div>
                <div class="col-sm-1 col-6">{{row.cout}}</div>
                <div class="col-sm-3 col-6">{{row.dates.depot.0}}-{{row.dates.depot.1}}-{{row.dates.depot.3}}</div>
                <div class="col-sm-3 col-6">{{row.dates.retrait.0}}-{{row.dates.retrait.1}}-{{row.dates.retrait.3}}</div>
                <div class="col-sm-3 col-6">{{row.client.nom}}</div>
              </div>
            </a>
            {% endfor %}
          </div>            
        </div>
      </div>
    </div>

{% endblock %}
