{% extends 'gestion.html' %}
{% load compta_extras %}

{% block content %}
    <div class="container mt-2">
      <div class="row justify-content-center">
        <div class="col-sm-6 p-3 col-12">
          <h2>Non pointés</h2>
          {% comment %}Le tableau des operations non pointées{% endcomment%}
          <div class="container list-group list-group-flush">
            {% for row in rows %}
            <a href="{% url 'unchecked' row.id %}" class="list-group-item list-group-item-action">
              <div class="row">
                <div class="col-sm-3 col-12 text-start">
                  {% if row.class == 'recette' %}
                    {{ row.dates.depot.0 }}-{{ row.dates.depot.1|twodigits }}-{{ row.dates.depot.3|twodigits}}
                  {% else %}
                    {{ row.date.0 }}-{{ row.date.1|twodigits }}-{{ row.date.3|twodigits}}
                  {% endif %}
                </div>
                <div class="col-sm-7 col-8 text-start text-truncate">{{ row.description }}</div>
                <div class="col-sm-2 col-4 text-center">
                  {% if row.class == 'recette' %}
                    {{ row.cout|floatformat:2 }}</div>
                  {% else %}
                    {{ row.montant|floatformat:2 }}</div>
                  {% endif %}
              </div>
            </a>
          {% endfor %}
          </div>            
        </div>
      </div>
    </div>

{% endblock %}
