{% extends 'base.html' %}
{% load compta_extras %}

{% block content %}
    <div class="container mt-2">
      <div class="row mt-5">
        <div class="col col-sm-4 offset-sm-4">
          <h2>Paie {{ year }}-{{ month|twodigits }}</h2>
          <form class="row g-3 p-2" method="get" action=".">
            {% csrf_token %}
            <div class="col-8 col-sm-5 p-1">
              <input type="date" name="date" value="{{ year }}-{{ month|twodigits }}-{{ day|twodigits }}">
            </div>
            <div class="col-4 col-sm-2 p-1">
              <input type="submit" value="Changer">
            </div>
          </form>
            <table class="table table-bordered table-hover caption-top">
            <thead>
              <tr class="text-center">
                <th>#</th>
                <th>Montant</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Recette</td>
                <td><span style="float: right; color: cyan; font-weight: bold">{{ recette|floatformat:2 }}</span></td>
              </tr>
              <tr>
                <td>Dépense</td>
                <td><span style="float: right; color: magenta;">{{ depense|floatformat:2}}</span></td>
              </tr>
              <tr>
                <td>frais sumup</td>
                <td><span style="float: right; color: magenta;">{{ sumup|floatformat:2}}</span></td>
              </tr>
              <tr>
                <td>frais ca22</td>
                <td><span style="float: right; color: magenta;">{{ ca22|floatformat:2}}</span></td>
              </tr>
              <tr>
                <td>Paie</td>
                <td><span style="float: right">{{ paie|floatformat:2}}</span></td>
              </tr>
              <tr>
                <td>provision Urssaf</td>
                <td><span style="float: right">{{ urssaf|floatformat:2 }}</span></td>
              </tr>
              <tr>
                <td>provision Charges</td>
                <td><span style="float: right">{{ charges|floatformat:2 }}</span></td>
              </tr>
              <tr>
                <td>provision CA</td>
                <td><span style="float: right">{{ ca|floatformat:2 }}</span></td>
              </tr>
              <tr>
                <td>provision Rmb</td>
                <td><span style="float: right">{{ rmb|floatformat:2 }}</span></td>
              </tr>
              <tr>
                <td>Reste</td>
                {% if reste < 0.00 %}
                <td><span style="float: right; color: red">{{ reste|floatformat:2 }}</span></td>
                {% else %}
                <td><span style="float: right; font-weight: bold; color: green">{{ reste|floatformat:2 }}</span></td>
                {% endif %}
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

{% endblock %}
