{% extends 'base.html' %}
{% load compta_extras %}

{% block content %}
    <div class="container mt-3">
      <div class="row mt-5">
        <div class="col col-sm-6 offset-sm-3">
          <h2>par semaine</h2>
          <table class="table table-bordered table-hover">
            <thead>
              <tr class="text-center">
                <th>Semaine</th>
                <th>Recettes</th>
                <th>Dépenses</th>
              </tr>
            </thead>
            <tbody>
              {% for row in rows %}
              <tr>
                <td class="text-center fst-italic">s{{ row.key.2|twodigits }}</td>
                <td class="text-end text-success">{{ row.value.0|floatformat:2 }}</td>
                <td class="text-end text-warning">{{ row.value.1|floatformat:2 }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

{% endblock %}
