{% extends 'base.html' %}
{% load compta_extras %}

{% block content %}
    <div class="container mt-3 ">
      <div class="col-12 col-sm-6 offset-sm-3 p-3">
        <h2>Synthese paie</h2>
        <div class="row">
          <div class="col text-secondary">total CA :</div>
          {% if total_ca > 0 %}
          <div class="col text-success fw-bold">{{ total_ca|floatformat:2 }}</div>
          {% else %}
          <div class="col text-danger fw-bold">{{ total_ca|floatformat:2 }}</div>
            {% endif %}    
        </div>
        <div class="row">
          <div class="col text-secondary">total Rmb :</div>
          {% if total_ca > 0 %}
          <div class="col text-success fw-bold">{{ total_rmb|floatformat:2 }}</div>
          {% else %}
          <div class="col text-danger fw-bold">{{ total_rmb|floatformat:2 }}</div>
            {% endif %}    
        </div>
        <div class="row text-secondary fst-italic">
          <div class="col">_P : paie</div>
          <div class="col">_S : solde</div>
          <div class="col">_C : CA</div>
          <div class="col">_R : Rmb</div>
        </div>
        <div class="row">
          <ul class="list-group list-group-flush">
            {% for row in rows %}
            <li class="list-group-item">
              <div class="container">
                <div class="row">
                  <div class="col text-start text-warning fst-italic">{{ row.year }}-{{ row.month|twodigits }} :</div>
                </div>
                <div class="row">
                  {% if row.paie > 0 %}
                  <div class="col text-end text-success">{{ row.paie|floatformat:2 }}_P</div>
                  {% else %}
                  <div class="col text-end text-danger">{{ row.paie|floatformat:2 }}_P</div>
                  {% endif %}
                  {% if row.reste > 0 %}
                  <div class="col text-end text-success">{{ row.reste|floatformat:2 }}_S</div>
                  {% else %}
                  <div class="col text-end text-danger">{{ row.reste|floatformat:2 }}_S</div>
                  {% endif %}
                </div>
                <div class="row">
                  <div class="col text-end">{{ row.ca|floatformat:2 }}_C</div>
                  <div class="col text-end">{{ row.rmb|floatformat:2 }}_R</div>
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
    </div>

{% endblock %}
